<!--This page displays details of sports events-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upcoming/Ongoing Sports Events</title>
    <link rel="stylesheet" href="/public/assets/style_events_edu.css" type="text/css">
    
</head>

<body>
    <h2 class="cap">Upcoming/Ongoing Sports Events</h2>
        <table class="styled-table">
            
            <thead>
              <tr>
                <th scope="col">Event ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">View Students Registered</th>
                <th scope="col">Get Emails of Registered Students</th>
              </tr>
            </thead>
            <tbody>
            <%eventList.forEach(event => {%>
                <tr>
                    <td><%= event._id %></td>
                    <td><%= event.name %></td>
                    <td><%= event.description %></td>
                    <td><%= event.startDate %></td>
                    <td><%= event.endDate %></td>
                    <td><form action="/admin_spoVR.ejs" method="post"><button type = "submit" class="btn" name="id" value=<%=event._id%>><b>View</b></button></form></td>
                    <td><form action="/admin_spoEmail.ejs" method="post"><button type = "submit" class="btn" name="id" value=<%=event._id%>><b>Emails</b></button></form></td>
                </tr>
            <%})%>
            </tbody>
          </table>

    
    
</body>
</html>